@charset "UTF-8";
.fw-500 {
	font-weight: 500;
}

.fw-600 {
	font-weight: 600;
}

.primary-red-color {
	color: #dd1515;
}

.overview-match>div>table>tbody>tr>td {
	width: 200px;
}

.detail-match #body-detail-match {
	max-height: 450px;
	overflow-x: hidden;
	overflow-y: auto;
	position: relative;
	width: 100%;
}

.detail-match #body-detail-match #content-detail-match {
	position: relative;
}

.detail-match #body-detail-match #content-detail-match .player-goal:first-child {
	margin-top: 25px;
}

.detail-match #body-detail-match #content-detail-match .player-goal {
	position: relative;
    margin-bottom: 25px;
    color: #135f00;
    font-size: 14px;
}

.detail-match #body-detail-match #content-detail-match .player-goal .left {
	float: left;
	text-align: right;
}

.detail-match #body-detail-match #content-detail-match .player-goal .right {
	float: right;
	text-align: left;
}

.detail-match #body-detail-match #content-detail-match .player-goal .left, 
.detail-match #body-detail-match #content-detail-match .player-goal .right {
	width: 47%;
    min-height: 37px;
    padding-top: 0;
    position: relative;
    top: 8px;
}

.detail-match #body-detail-match #content-detail-match .player-goal .minute {
	position: absolute;
    top: 0;
    left: 50%;
    margin-left: -19px;
    background: #dc3545;
    color: #fff;
    width: 38px;
    height: 38px;
    border-radius: 38px;
    line-height: 38px;
    text-align: center;
    display: block;
    z-index: 2;
    font-weight: 900;
}

.detail-match #body-detail-match #content-detail-match .line {
	width: 4px;
    height: 100%;
    background: #dc3545;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1;
    margin-left: -2px;
}

.clearfix:before {
	content: " ";
    display: table;
}

.clearfix:after {
	content: " ";
    display: table;
    clear: both;
}
